* {
    box-sizing: border-box;
}

.section-center {
    margin: 0 auto;
    /* width: 98vw; */

}

p {
    font-size: 20px;
}

.cards-border {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 50%;

    height: 290px;

}

.cards-img {
    display: flex;
    justify-content: center;

}



.cards-info {
    /* padding-top: 10px; */
    /* padding-left: 1rem; */
}

@media screen and (min-width:300px) {
    #margin-top {
        margin-top: 1rem;
    }

    .cards {
        margin-left: 1rem;
    }
}

@media screen and (min-width:600px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }

    .cards-border {
        max-width: 100%;
    }
}


@media screen and (min-width:512px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
    }



}

@media screen and (min-width:833px) {
    .cards-info-flex {
        display: flex;
        justify-content: space-between;

    }

    .cards-border {
        height: 250px;
    }
}

@media screen and (min-width:600px) {
    #margin-top {
        margin-top: 0;
    }
}

@media screen and (min-width:1170px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


}