* {
  margin: 0;
  font-family: "Noto Sans Zanabazar Square", sans-serif;
  scroll-behavior: smooth;
}

.shopping-grid {
  margin-top: 2rem;
  margin-bottom: 5rem;
  background: url(https://www.netmeds.com/images/cms/section/images/1680549647_1678453224_super_value.png)
      no-repeat left bottom / 240px,
    linear-gradient(
      to bottom,
      rgb(255 255 255 / -2%),
      rgba(255, 255, 255, 0.4) 78%
    ),
    linear-gradient(180deg, #db5d8a, #db5d8a);
  height: 450px;
}

.product-grid7 {
  margin-top: 4rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 6px 12px -4px rgba(11, 18, 25, 0.1);
  overflow: hidden;
  padding: 0 0 12px;
  place-items: center !important;
}

.pic-1 {
  width: 200px;
}

.product-content {
  width: 100%;
  margin-left: 2rem;
}

.product-content > btn {
  width: 90%;
}

footer {
  padding: 36px 30px 0;
  color: #0b1219;
  background: #fff;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  margin: 30px 0 0;
  background-image: linear-gradient(
      to bottom,
      rgba(36, 174, 177, 0) 50%,
      rgba(36, 174, 177, 0.7) 130%
    ),
    linear-gradient(to bottom, #fff, #fff);
}

.title {
  font-weight: bolder;
  margin-top: 2rem;
}

.grid-section {
  background: url(https://www.netmeds.com/images/cms/section/images/1680549470_1678453094_limited_time.png)
      no-repeat left bottom / 240px,
    linear-gradient(
      to bottom,
      rgb(255 255 255 / -2%),
      rgba(255, 255, 255, 0.4) 78%
    ),
    linear-gradient(180deg, #24aeb1, #24aeb1);
  padding-bottom: 5rem;
}

.btn {
  background: #24aeb1;
  font-size: 14px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2rem !important;
}

.btn main {
  margin-left: 10rem !important;
}
.login-text {
  margin-top: 1rem;
  margin-right: 1rem;
}

#contact {
  -webkit-box-shadow: 7px 5px 52px 0px #24aeb1;
  -moz-box-shadow: 7px 5px 52px 0px #24aeb1;
  box-shadow: 7px 5px 52px 0px #24aeb1;
}

@media (max-width: 767px) {
  .product-card {
    padding: 0.5rem;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-price {
    font-size: 0.8rem;
  }

  .product-size {
    font-size: 0.7rem;
  }

  .add-to-cart-button {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}

.flex {
  border: 4px solid #50ffe3;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
}
.section-center {
  max-width: 1170px;
  margin: 0 1rem;
  box-sizing: border-box;
}

.order-center {
  width: 60vw;
  box-sizing: border-box;
}

.bi {
  transform: scale(1.5);
  padding-top: 2rem;
}

@media screen and (min-width: 300px) {
  .order-info {
    padding-left: 1rem;
  }
}

.rupees {
  text-decoration: line-through;
}

.stock {
  font-size: 17px;
  color: green;
}

.order-info p {
  font-size: 20px;
}

.original-cost {
  color: palevioletred;
}

.save-money {
  padding-left: 10px;
}

.order-info {
  display: grid;
  grid-template-columns: 40px 300px;
}

select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  width: 100px;
}

option {
  padding: 5rem;
}

.label {
  display: flex;
}

i {
  transform: scale(2.5);
}

@media screen and (min-width: 512px) {
  .order-flex {
    display: flex;
    justify-content: space-between;
  }

  select {
    padding: 0.2rem;
    width: 100px;
    height: 30px;
  }

  .label {
    padding-top: 3rem;
  }
}

/* end of order items */

.items-info {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.items-info p {
  font-size: 21px;
  color: green;
}

.items-info i {
  margin-top: 2.1rem;
  padding-right: 2rem;
}

/* end of add items */

.payment-info p {
  display: flex;
  justify-content: space-between;
}

.payment-info {
  width: 400px;
}

#total-payable {
  padding-top: 2rem;
  color: rgb(76, 160, 160);
  font-size: 20px;
}

#total-savings {
  color: #fff;
  border: 1px solid black;
  border-radius: 6px;
  background: rgb(158, 190, 158);
}

button:hover {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 1100px) {
  .flex {
    display: flex;
    justify-content: space-around;
  }
}

.products {
  padding: 1rem;
  background: url(https://www.netmeds.com/images/cms/section/images/1680549470_1678453094_limited_time.png)
      no-repeat left bottom / 240px,
    linear-gradient(
      to bottom,
      rgb(255 255 255 / -2%),
      rgba(255, 255, 255, 0.4) 78%
    ),
    linear-gradient(180deg, #24aeb1, #24aeb1);
  padding-bottom: 5rem;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.product-card button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
