* {
  margin: 0;
  font-family: "Noto Sans Zanabazar Square", sans-serif;
  scroll-behavior: smooth;
}

.shopping-grid {
  margin-top: 2rem;
  margin-bottom: 5rem;
  background: url(https://www.netmeds.com/images/cms/section/images/1680549647_1678453224_super_value.png)
      no-repeat left bottom / 240px,
    linear-gradient(
      to bottom,
      rgb(255 255 255 / -2%),
      rgba(255, 255, 255, 0.4) 78%
    ),
    linear-gradient(180deg, #db5d8a, #db5d8a);
  height: 450px;
}

.product-grid7 {
  margin-top: 4rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 6px 12px -4px rgba(11, 18, 25, 0.1);
  overflow: hidden;
  padding: 0 0 12px;
  place-items: center !important;
}

.pic-1 {
  width: 200px;
}

.product-content {
  width: 100%;
  margin-left: 2rem;
}

.product-content > btn {
  width: 90%;
}

footer {
  padding: 36px 30px 0;
  color: #0b1219;
  background: #fff;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  margin: 30px 0 0;
  background-image: linear-gradient(
      to bottom,
      rgba(36, 174, 177, 0) 50%,
      rgba(36, 174, 177, 0.7) 130%
    ),
    linear-gradient(to bottom, #fff, #fff);
}

.title {
  font-weight: bolder;
  margin-top: 2rem;
}

.grid-section {
  background: url(https://www.netmeds.com/images/cms/section/images/1680549470_1678453094_limited_time.png)
      no-repeat left bottom / 240px,
    linear-gradient(
      to bottom,
      rgb(255 255 255 / -2%),
      rgba(255, 255, 255, 0.4) 78%
    ),
    linear-gradient(180deg, #24aeb1, #24aeb1);
  padding-bottom: 5rem;
}

.btn{
  background: #24aeb1;
  font-size: 14px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
 margin-right: 2rem !important;
}

.btn main {
  margin-left: 10rem !important;
}
.login-text {
  margin-top: 1rem;
  margin-right: 1rem;

}

